[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
spotipy = "*"
notebook = "*"
nbconvert = "*"
flask = "*"
requests-oauthlib = "*"
aiohttp = "*"
asyncio = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.9.7"
